<div class="bg-white text-center border mb-2 py-2">
  <h1 class="brand-text brand-text-xl mx-auto my-4">Railstagram</h1>
  <div class="px-10 text-gray-600 font-bold">
    <h2>Sign up to see photos from your friends</h2>
  </div>
  <div class="mb-2 p-10">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
          label: false,
          placeholder: 'Email',
          required: true,
          autofocus: true,
          input_html: { autocomplete: "email" }
        %>

        <%= f.input :full_name,
          label: false,
          placeholder: 'Full Name',
          required: true
        %>

        <%= f.input :username,
          label: false,
          placeholder: 'Username',
          required: true
        %>

        <%= f.input :password,
          label: false,
          placeholder: 'Password',
          required: true,
          input_html: { autocomplete: "new-password" }
        %>

        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: 'btn btn-blue' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="bg-white text-center border mb-2 py-2">
  <p class="text-gray-600 text-sm m-3">
    Have an account?
    <%= link_to "Log in", new_session_path(resource_name), class: 'text-blue-800 font-bold' %>
  </p>
</div>
